@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

$primary: #FF6060;
$secondary: #F6F6F6;
$breakpoint_phone: 767px;

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

html, body, #root {
    height: 100%;
}

html, body {
    margin: 0;
    font-size: 24px;
    font-family : Montserrat;
    @media (max-width: $breakpoint_phone) {
        font-size: 12px;
        line-height: 17px;
    }
}

.body_padding {
    padding: 0px 80px;
    @media (max-width: $breakpoint_phone) {
        padding: 0px 6%;
    }
}

h1 {
    font-size: 48px;
    line-height: 68px;
    @media (max-width: $breakpoint_phone) {
        font-size: 24px;
        line-height: 24px;
    }
}

h2 {
    max-width: 80%;
    font-size: 24px;
    margin-top: 0;
    font-weight: 500;
    @media (max-width: $breakpoint_phone) {
        font-size: 13px;
    }
}