@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

$primary: #FF6060;
$secondary: #F6F6F6;
$breakpoint_phone: 767px;

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style-type: none;
}

html, body {
    margin: 0;
    font-size: 17px;
    font-family : Montserrat;
}

.body_padding {
    padding: 0px 80px;
    @media (max-width: $breakpoint_phone) {
        padding: 0px 6%;
    }
}

h2 {
    max-width: 80%;
    font-size: 18px;
    margin-top: 0;
    @media (max-width: $breakpoint_phone) {
        font-size: 1rem;
    }
}